<h1 class="titulo">TAYLOR SWIFT</h1>

.titulo {
    color: #67230e;
    font-family: "IM Fell DW Pica", serif;
    font-weight: bolder;
    list-style: none;
    text-decoration: none;
    font-size: 300%;
    margin: 30px;

    .titulo2 {
      color: #c27251;
      font-family: "IM Fell DW Pica", serif;
      font-weight: bolder;
      text-align: left;
      font-size: 150%;
      margin: 20px 20px 20px 20px;
      margin-left: 20p;
  }

  }